<app-divider>Table Component</app-divider>
<app-table 
[data]="data" 
[headers]="headers" 
class="stripes celled"
>

</app-table>
<app-divider>Tab Menu</app-divider>
<app-tabs>

    <a 
    [routerLink]="['./','biography']" 
    routerLinkActive="active" 
    [routerLinkActiveOptions]="{ exact : true }"
    class="item"
    
    >Biography</a>
    <a routerLink="companies" routerLinkActive="active" class="item">Companies</a>
    <a routerLink="partners" routerLinkActive="active" class="item">Partners</a>
</app-tabs>